<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GreenHouse.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <GreenHouse.Properties.Settings>
            <setting name="WindowBtnContent" serializeAs="String">
                <value />
            </setting>
            <setting name="GeneralHumBtnContent" serializeAs="String">
                <value />
            </setting>
            <setting name="MinTemperature" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaxHumidity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FirstSoilState" serializeAs="String">
                <value>Открыть полив</value>
            </setting>
            <setting name="SecondSoilState" serializeAs="String">
                <value>Открыть полив</value>
            </setting>
            <setting name="ThirdSoilState" serializeAs="String">
                <value>Открыть полив</value>
            </setting>
            <setting name="FourthSoilState" serializeAs="String">
                <value>Открыть полив</value>
            </setting>
            <setting name="FifsSoilState" serializeAs="String">
                <value>Открыть полив</value>
            </setting>
            <setting name="SixthSoilState" serializeAs="String">
                <value>Открыть полив</value>
            </setting>
        </GreenHouse.Properties.Settings>
    </userSettings>
</configuration>